<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.thanhdat.quanlytro</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/thanhdat/Documents/Code/Repo/RentFlow/venv/bin/python</string>
        <string>/Users/thanhdat/Documents/Code/Repo/RentFlow/main.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/thanhdat/Documents/Code/Repo/RentFlow</string>
    <key>StandardOutPath</key>
    <string>/Users/thanhdat/Documents/Code/Repo/RentFlow/app.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/thanhdat/Documents/Code/Repo/RentFlow/error.log</string>
</dict>
</plist>
